

<section>
    <form>
        <input type="text" placeholder="filter by city">
        <button type="button" class="btn btn-primary">search</button>
    </form>
    
</section>


<ul class="list-group">
    <li class="list-group-item" *ngFor="let  of  "> 
        <button class="btn btn-info float-end"   >View</button>
        <button class="btn btn-danger float-end"  >Delet</button>
        <button class="btn btn-success float-end"  >Edit</button>
    </li>
</ul>

<div class="d-grid">
    <button type="button" class="btn btn-primary btn-block">Add User</button>
  </div>